<div class="form-container">
    <h2>Trainer Registration</h2>
    <form>
      <input type="text" placeholder="Username" required>
      <input type="email" placeholder="Email ID" required>
      <input type="password" placeholder="Set Password" required>
  
      <label class="upload-label">Upload Certificate:</label>
      <input type="file" accept=".pdf,.jpg,.png,.jpeg" required>
  
      <label class="upload-label">Upload Resume:</label>
      <input type="file" accept=".pdf,.doc,.docx" required>
  
      <button type="submit" (click)="onTrainerLogin()">Submit</button>
    </form>
  </div>
  
